<li>
  <%= button_to 'queue', {
    controller: 'queue_entry',
    action: 'create',
    uri: track['uri'],
  }, form_class: 'form-inline' %>
  "<%= track['name']%>"
  (<%= length_text(track['length']) %>)
  by <%= artists_to_text(track['artists']) %>
  <% if track['album'] %>
    on <i><%= album_link(track['album']) %></i>
  <% end %>
</li>
