<%= content_for(:title, "Search: \"#{params[:q]}\"") %>
<div class="browse-container">
  <h1>Search: "<%= params[:q]%>"</h1>

  <% if params[:q].include?(':') %>
  <p>
    Was that a URI? It it was an MP3 or a YouTube URL, you can try just adding it
    to the queue:
    <%= button_to 'Add URI to Queue', {
      controller: 'queue_entry',
      action: 'create',
      uri: params[:q],
    }, form_class: 'form-inline' %>
  </p>
  <% end %>

  <h2>Tracks</h2>
  <ul>
    <%= render partial: 'track', collection: @tracks %>
  </ul>

  <h2>Albums</h2>
  <ul class="decorated">
    <%= render partial: 'album', collection: @albums %>
  </ul>

  <h2>Artists</h2>
  <ul class="decorated">
    <%= render partial: 'artist', collection: @artists %>
  </ul>
  <div>
    <%= link_to 'Home', root_path %>
  </div>
</div>